@charset "utf-8";

#all{
    display: flex;
    flex-direction: column;
    margin: auto;
}
#canvas{
    margin: auto;
    background-color: #000;
    border: 5px ridge #ccc;
}
#menu{
    margin: 1px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 500px;
    overflow-y: scroll;
    /* background-color: aqua; */
}
.menuLevel{
    margin: auto;
    display: flex;
    border: 5px ridge #ccc;
    margin: 2px auto 0 auto;
}
.imgLevel{
    background-color: #000;
}
.menuLevelInner{
    width: 220px;
}
.textLevel{
    /* test */
    padding-left: 5px;
    background-color: #fdf;
}
.buttonLevel,.buttonLevelG{
    height: 24px;
    margin: 0 0 0 auto;
    padding: 4px 5px 0 0;
    text-align: right;
    border: 3px outset;
    border-color: #888;
    font-size:14px;
    cursor: pointer;
}

.buttonLevel{
    background-color: #fff;
}
.buttonLevelG{
    background-color: #fc0;
}

.buttonLevelM{
    height: 24px;
    margin: 0 0 0 auto;
    padding: 4px 5px 0 0;
    text-align: center;
    border: 3px double;
    font-size:17px;
    font-weight: bold;
    background-color: #aaa;
}


.buttonLevel:active,.buttonLevelG:active{
    border: 3px inset;
    border-color: #888;
}
